.tracker-wrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}




.week-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 40%;
    height: 34vh;
    margin-top: 30%;
    padding-left: 20%;
    align-content: flex-end;
    border-right: 1px solid black;
    padding-top: 20px;
}
.week-days {
    padding-right: 20px;
}
.days {
    display: flex;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 800;
}



.lift-wrapper {
    padding-top: 25%;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100vh;
}
.lift-title {
    margin-left: 35%;
    height: 40px;
    width: 20vw;
    font-size: 40px;
    font-weight: 700;
    text-decoration: underline solid black;
    align-content: flex-start;
}



.focus-title {
    font-size: 25px;
    margin: auto;
    text-decoration: underline solid black;
    font-weight: bold;
    padding-bottom: 10px;
}
.focus-wrapper {
    width: 80%;
    align-content: flex-end;
    margin-top: 80px;
    margin-left: 80px;
}
.focus-border {
    border: 4px solid rgb(30, 30, 30);
    border-radius: 12px;
    margin-top: 10px;
    height: 100%;
    margin-bottom: 80px;
    padding-bottom: 10px;
}
.focus-inner-wrapper {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: flex-end;
    border-bottom: 2px solid black;
    margin-top: 12px;
    margin-left: 2%;
    margin-right: 2%;
}

.weight {
    height: 25px;
    width: 15%;
    font-size: 20px;
    margin-bottom: -.6px; 
    border: 2px solid black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}