@import '../../_variables.scss';

.proj-wrapper {
    width: 100vw;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.proj-holder {
    width: 65vw;
    max-width: 1000px;
    height: 150px;
    border: solid grey;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: 35px;
    border-radius: 10px;
}

.proj-holder-link {
    width: 100%;
    height: 80px;
}

.proj-title {
    font-size: 100px;
    margin-bottom: 180px;
    margin-top: 120px;
    color: black;
}

.display-proj-items {
    width: 80vw;
    margin-bottom: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
}

.proj-item-wrap {
    border: solid 1px #333333;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.proj-holder a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

.name {
    color: black;
    font-size: 20pt;
}

.details {
    color: black;
    font-size: 16px;
}

.add-proj {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid $cool-color 1px;
    border-radius: 5px;
}

.proj-edit-btn {
    width: 80%;
    height: 30px;
    background: $cool-color;
    color: whitesmoke;
    cursor: pointer;
    border: none;
    border-radius: 0px 0px 0px 4px;
}
.delete-proj {
    width: 20%;
    height: 30px;
    background: $red;
    border: none;
    border-radius: 0px 0px 4px 0px;
}

.proj-btns {
    width: 100%;
    height: 30px;
    display: flex;
}